<div class="h-100 w-100">
    <agm-map class="h-100 w-100" [latitude]="-19.920626070324953" [longitude]="-43.93680607636681">
        <agm-marker
        *ngFor="let autoescola of arrayAutoescolas"
        [latitude]="stringToNumber(autoescola.latitude)"
        [longitude]="stringToNumber(autoescola.longitude)">
            <agm-info-window>
                <app-card class="card" [autoescola]="autoescola" [editable]="false"></app-card>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>