<div class="row justify-content-center p-5 roundedHard registerContainer" [formGroup]="registerForm">

    <div class="h1 mb-4">
        Cadastrar
    </div>

    <mat-form-field appearance="outline" class="col-12 mb-3 outlineStandard">
        <mat-label>Digite seu nome completo</mat-label>
        <input matInput placeholder="Joao Vitor da Silva" formControlName="nome" required>
        <mat-error *ngIf="registerForm.get('nome')?.errors?.required">
            Por favor digite seu nome
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 mb-3 outlineStandard">
        <mat-label>Digite seu email</mat-label>
        <input matInput placeholder="nome@exemplo.com" formControlName="email" required>
        <mat-error *ngIf="registerForm.get('email')?.errors?.email">
            Digite um email valido
        </mat-error>
        <mat-error *ngIf="registerForm.get('email')?.errors?.required">
            Por favor digite seu email
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 mb-3 mt-3 outlineStandard">
        <mat-label>Digite sua senha</mat-label>
        <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="senha" required>
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass">
            <mat-icon color="primary">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('senha')?.errors?.required">
            Por favor digite sua senha
        </mat-error>
        <mat-error *ngIf="registerForm.get('senha')?.errors?.minLength">
            A senha deve ter pelo menos 8 caracteres
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 mb-3 outlineStandard">
        <mat-label>Confirme sua senha</mat-label>
        <input matInput [type]="hideConfirmPass ? 'password' : 'text'" formControlName="confirmarSenha" required>
        <button mat-icon-button matSuffix (click)="hideConfirmPass = !hideConfirmPass">
            <mat-icon color="primary">{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('confirmarSenha')?.errors?.required">
            Por favor digite sua senha
        </mat-error>
        <mat-error *ngIf="registerForm.get('confirmarSenha')?.errors?.minLength">
            A senha deve ter pelo menos 8 caracteres
        </mat-error>
        <mat-error *ngIf="registerForm.get('confirmarSenha')?.errors?.mustMatch">
            As senhas devem ser iguais
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" class="col-lg-3 m-3 yellow" (click)="register()">
        Cadastrar
    </button>

</div>