$white: #ffffff;
$black: #000000;
$grey: #aaaaaa;
$dark-grey: #6e6e6e;
$light-grey: #e6e6e6;

$poli-purple: #392E8C;
$poli-yellow: #F1E63C;

$light-purple: #6b678b75;
$medium-purple: #676099bb;
$dark-purple: #1b0459;


$medium-yellow: #eee999;
$dark-yellow: #FBB80F;

$red: #e02121;