@import '../../../styles/styleVariables.scss';

.registerContainer {
    background-color: $medium-yellow;
    box-shadow: 0px 6px 5px 1px $black;
}

.roundedHard {
    border-radius: 32px;
}

.yellow {
    background-color: $dark-yellow;
    color: $white;
}