@import '../../../styles/styleVariables.scss';


.divider {
  height: 0px;
  border: none;
  border-top: 3px solid $grey;
}

.list-group-item {
  background-color: transparent;
  font-size: large;
  border: none;
  border-right: transparent solid;
  color: $grey;
  padding: 0.75rem 2.25rem;
  display: flex;
  transition: ease-in-out 200ms;
}

a:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
}

.left-35 {
  left: 35%;
}

.matdrawer{
  transition: 500ms ease-in-out;
}

.double-arrow {
  color: $white;
  cursor: pointer;
  top: 1%;
  right: 5%;
  background-color: transparent;
  height: 2vw;
  display: flex;
  align-items: center;
    mat-icon {
      width: 100%;
      height: 100%;
      font-size: 1.75vw;
      transition: transform 500ms ease-in-out;
    }
}

.mirror{
  transform: rotateY(-180deg);
}

.sidenavMain {
  width: 17.5vw;
  border: 0;
  transition: width 350ms ease-in-out;
  box-shadow: 1px 0px 10px 5px #0000003f;
}

.sidenavMainClosed {
  width: 7vw;
  border: 0;
  transition: width 350ms ease-in-out;
  box-shadow: 1px 0px 10px 5px #0000003f;
}

.sidenav {
  min-height: 100%;
  box-shadow: 1px 0px 10px 5px #0000003f;
}

::ng-deep .leftSidenav .mat-drawer-inner-container::-webkit-scrollbar {
  width: 5px;
}
::ng-deep .leftSidenav .mat-drawer-inner-container::-webkit-scrollbar-track {
  background-color: $light-grey;
}
::ng-deep .leftSidenav .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background-color: $poli-purple;
  border-radius: 25px;
}

@media only screen and (max-width: 1050px)
{
  .exit {
    display: flex;
  }
  .sidenavMain {
    min-width: 80vw;
  }

  .list-group-item {
    font-size: medium;
    padding: 0.5rem 2.25rem;
  }
}