<div class="container d-flex justify-content-center align-items-center flex-column h-100 pb-5">
    <div class="h1 mb-5">
        Login
    </div>
    <div class="row justify-content-center w-50" [formGroup]="loginForm">

        <mat-form-field appearance="fill" class="col-lg-9">
            <mat-label>Digite seu email</mat-label>
            <input matInput placeholder="nome@exemplo.com" formControlName="email" required>
            <mat-error *ngIf="loginForm.get('email')?.errors?.email">
                Digite um email valido
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.required">
                Por favor digite seu email
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="col-lg-9">
            <mat-label>Digite sua senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('senha')?.errors?.required">
                Por favor digite sua senha
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="col-lg-3 m-3" (click)="login()">
            Entrar
        </button>
        <button mat-raised-button color="accent" class="col-lg-3 m-3" routerLink="/register">
            Cadastrar
        </button>

    </div>
</div>