@import '../../../styles/styleVariables.scss';

.loginContainer {
    background-color: $medium-purple;
    box-shadow: 0px 6px 5px 1px $black;
}

.roundedHard {
    border-radius: 32px;
}

.purple {
    background-color: $poli-purple;
    color: $white;
}