<div class="container d-flex justify-content-center align-items-center flex-column h-100 pb-5">
    <img src="/assets/img/poliplux_logo.svg" alt="" width="100" height="100">
    <div class="row p-3 w-100">

        <div class="col-lg-6 d-flex align-items-center px-5">
            <div class="row justify-content-center p-5 roundedHard loginContainer" [formGroup]="loginForm">

                <div class="h1 mb-4">
                    Login
                </div>

                <mat-form-field appearance="outline" class="col-12 mb-3 outlineStandard">
                    <mat-label>Digite seu email</mat-label>
                    <input matInput placeholder="nome@exemplo.com" formControlName="email" required>
                    <mat-error *ngIf="loginForm.get('email')?.errors?.email">
                        Digite um email valido
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.errors?.required">
                        Por favor digite seu email
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field appearance="outline" class="col-12 mb-3 outlineStandard">
                    <mat-label>Digite sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('senha')?.errors?.required">
                        Por favor digite sua senha
                    </mat-error>
                </mat-form-field>
        
                <button mat-raised-button color="primary" class="col-lg-3 m-3" (click)="login()">
                    Entrar
                </button>
        
            </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center px-5">
            <app-register></app-register>
        </div>
    </div>
</div>